@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200&display=swap");

* {
  margin: 0;
  font-family: "Lexend", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
